@charset "UTF-8";

/* 回答はここに書いてね */

.ptable{
  table-layout: fixed;
  width:100%;
}

.ptable th,.ptable td{
  border:solid #dedede 1px;
  padding:10px 0;
  text-align: center;

}

.ptable td{
  font-size: 16px;
  line-height: 22px;
}


.ptable th{
  background-color: #2244aa;
  color:#fff;
  font-size: 18px;
  line-height: 26px;
}

.ptable tr:nth-child(2n+1){
  background-color: #ecf1f2;
}

.ptable tr:last-child{
  border-top:dashed #000 2px;
}
/* 回答はここに書いてね */
